*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
#container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;

}
#same-btn{
     background-color: #469165;
    padding: 12px 16px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
#same-btn:hover{
    background-color: #507660;

}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 10px 0;
}
.navbar .nav-menu{
    display: flex;
    gap: 32px;
    list-style: none;

}
.nav-menu a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #0c0c0c;

}
.nav-menu a:hover{
    color: #54a375;
}

.hero-banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 115px 120px 180px 120px;
    text-align: center;
    justify-items: center;
    
}
.banner span{
    color: #469165;
}
.badg-div{

    justify-items: center;
    padding-bottom: 20px;
}
.banner .badg-div .badg{

    color: #469165;
    justify-items: center;
    background: #ffffff;
    padding: 7px 19px;
    border-radius: 20px;
    font-size: 16px;
    
}

.badg-div .badg span{
    width: 6px;
    height: 6px;
    /* background-color: #469165; */
    color: #469165;
    border-radius: 100%;
    box-shadow: 0 0 0 6px #abf9c8;
    margin-right: 13px;
    
}

.banner h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    padding-bottom: 30px;
    color: white;
}
.banner .banner-content{
    width: 685px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #ffffff;
    padding-bottom: 30px;
}

.banner-btn button *{
    margin-left: 5px;
}
.banner-btn #btn{
    background-color: #46916503;
    padding: 12px 16px;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 4px;
    margin-left: 15px;
    cursor: pointer;

}
.banner-btn #btn:hover{
    background-color: #507660;

}
.banner-btn #btn i{
    margin-right: 10px;
}
.card-section{
    background-color: #FBFBFB;
}
.card-heading{
    text-align: center;
}
.card-heading h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    padding-top: 100px;
    margin-bottom: 25px;
}
.card-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 50px;
}
.card-item{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 100px;
}
.card-item .card{
    padding: 32px;
  box-shadow: 0px 0px 8px 0px #0000000f;
  text-align: center;
  border-radius: 8px;
}

.card-item .card img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #F95555;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.card-item .card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 15px;
}
.card-item .card p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color:#627382;

}
.flex-content{
    display:flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 85px;
}
.flex-content .image img{
    border-radius: 12px;
}
.flex-content .content h4{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 20px;
}
.flex-content .content h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    text-transform: capitalize;
    margin-bottom: 18px;
    
}

.flex-content .content .ppp{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color:#627382;
    margin-bottom: 25px;
    width: 510px;

}
.point p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #001931;
}
.point p *{
    margin-bottom: 15px;
}
.point i{
    color: #30B868;
}
.Ready-to-think-section{
  
    text-align: center;
    padding: 100px 120px;
    background-color: #F7F6F2;
}
.Ready-to-think-section h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
   

}
.Ready-to-think-section P{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #627382;
    margin: 30px 0;

}
.Ready-to-think-section button i{
    margin-left: 8px;
}
footer{
    background-color: #001931;
    margin-top: 100px;
}
.footer-section{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    border-bottom: 1px solid rgb(193, 189, 189);
}
.social-section h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: white;
}
.social-icon{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
}


.social-icon a{
    text-decoration: none;
    width: 22px;
    height: 22px;
    background: #ffffff;
    color: #000;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 900;
    padding: 3px;
}
.social-icon a:hover{
    color: #fefefe;
    background-color: #001931;
    transition: .5s;

}

.copywrite p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color:#fbfdff;
    text-align: center;
    padding: 20px 0;
}
